# .github/workflows/convert-to-pdf.yml

name: Docs to PDF
on:
  push:
    branches:
      - main
    paths:
      - 'documents/**.md'
      - 'documents2/**.md'

jobs:
  converttopdf:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - name: TEST
        run: |
          pwd
          ls -la ..
          echo '-----'
          ls -la ../../md_test/md_test
          echo '-----'
          mv ../../md_test/md_test/documents2/* ../../md_test/md_test/documents
          echo '-----'
      - uses: actions/checkout@v2
      - uses: baileyjm02/markdown-to-pdf@v1
        with:
          input_dir: documents
          output_dir: pdfs
          images_dir: documents
          # for example <img src="./images/file-name.png">
          image_import: ./
          # Default is true, can set to false to only get PDF files
          build_html: false
      - name: Set current date as env variable
        run: echo "NOW=$(date +'%d-%h_%H-%M')" >> $GITHUB_ENV
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "${{ env.NOW }} : Markdown to PDF"
          files: |
            pdfs/*

