# .github/workflows/convert-to-pdf.yml

name: Docs to PDF
on:
  workflow_dispatch

jobs:
  converttopdf:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Pandoc install
        run: |
          sudo apt-get install -y pandoc

          sudo apt-get install texlive-latex-base
          sudo apt-get install texlive-fonts-recommended
          sudo apt-get install texlive-fonts-extra
          sudo apt-get install texlive-latex-extra
          
          sudo apt-get install texlive-xetex
          sudo apt-get install texlive-lang-cyrillic
      - name: MD to PDF
        run: | 
          mkdir pdfs/
          touch hm.md
          mv ../md_test/documents*/* .
          pandoc --pdf-engine=xelatex test1.md -V lang=ru -s -o pdfs/test1.pdf
          pandoc --pdf-engine=xelatex my_file3.md -s -o pdfs/test3.pdf

      - name: Set current date as env variable
        run: echo "NOW=$(date +'%d-%h_%H-%M')" >> $GITHUB_ENV
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "${{ env.NOW }} : Markdown to PDF"
          files: |
            pdfs/*

