# .github/workflows/convert-to-pdf.yml

name: Docs to PDF
on:
  push:
    branches:
      - main
    paths:
      - 'documents/**.md'
      - 'documents2/**.md'

jobs:
  converttopdf:
    name: Build PDF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Pandoc install
        run: |
          sudo apt-get install -y pandoc

          sudo apt-get install texlive-latex-base
          sudo apt-get install texlive-fonts-recommended
          sudo apt-get install texlive-fonts-extra
          sudo apt-get install texlive-latex-extra

      - name: MD to PDF
        run: | 
          mkdir pdfs/
          touch hm.md
          echo -e "lol kek \n cheburek \n ------------------ /n kek" > hm.md
          pandoc hm.md -s -o pdfs/test.pdf
      - name: Set current date as env variable
        run: echo "NOW=$(date +'%d-%h_%H-%M')" >> $GITHUB_ENV
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: false
          title: "${{ env.NOW }} : Markdown to PDF"
          files: |
            pdfs/*

